.request-demo-container {
    display: flex;
    flex-direction: row;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}

.request-demo-title {
    font-size: 49px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000028;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 1.15;
    letter-spacing: -0.05rem;
}

.request-demo-subtitle {
    line-height: 1.15;
    letter-spacing: -0.05rem;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000028;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.request-demo-left-container {
    display: flex;
    flex-direction: column;
}

.request-demo-right-container {
    display: flex;
    flex-direction: column;   
}

.request-demo-image-container > img {
    max-width: 100%;
}

.request-demo-image-container {
    padding-bottom: 30px;
}

.request-demo-desc-general > p {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 1.5rem;
    font-family: 'Robert', sans-serif;
    font-weight: 400;
}

.request-demo-desc-ul > p {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 1.5rem;
    font-family: 'Robert', sans-serif;
    font-weight: 800;    
}

.request-demo-desc-ul > ul {
    padding: 0 0 0 20px;
    list-style: outside;
}

.request-demo-desc-ul > ul > li > p {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: .5rem;
    font-family: 'Robert', sans-serif;
    font-weight: 300;    
}

.request-demo-input-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.request-demo-input-container > div {
    line-height: 1.35;
    font-weight: 400;
    font-family: 'Robert', sans-serif;
}

.request-demo-input-container > label {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Robert', sans-serif;
    margin-bottom: .5rem;
}

.request-demo-input-container > div > input {
    padding: 14px 1rem !important;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dae1e7;
    outline:none;
    width: 100%;
    background:#f8f8f8;
}

.request-demo-input-container > div > input:focus {
    border-bottom: 2px solid rgb(52, 98, 223);
}

.request-demo-input-desc-container {
    padding-left: 15px;    
}

.request-demo-input-desc-container > p {
    margin-bottom: 1.5rem;
    line-height: 1.35;
    font-size: .85rem;
}

.request-demo-input-container > input {
    margin-bottom: 1rem;
    line-height: 1.35;
    text-align:center;
    width: calc(100% - 10px);
    padding: 12.5px 2rem;
    background-color: rgb(52, 98, 223);
    font-size: 18px;
    min-width: 185px;
    font-weight: 600;
    border-radius: 40px;
    border:none;
    cursor: pointer;
    text-decoration: none;
    color: #f4f4f4;
    border: none;
}

.request-demo-invalid-input {
    color: #ff5660;
    font-size: .85rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .request-demo-container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .request-demo-left-container {
        width: 50%;
        padding-right: 4rem;
        padding-top: 4rem;

    }
    .request-demo-right-container {
        border-left: 1px solid #e4e3e1;
        width:50%;
        padding-left: 4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}