.signup-success-container{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-success-container > div {
    padding-top: 80px;
    font-size: 2rem;
    font-weight: bold;
}