.hamburger {
    display: inline-block;
    text-decoration: none;
    height: 72px;
}


.hamburger .hamburger-button {
    height: 30px;
    width: 25px;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
}

.hamburger .hamburger-title {
    position: relative;
    cursor:pointer;
    display: inline-block;
    width: 25px;
    height: 2px;
    border-top: 2px solid #286efa;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
}

.hamburger.active .hamburger-title {
    border-color: transparent;
}

.hamburger.active .hamburger-title:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hamburger.active .hamburger-title:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hamburger-title:before, .hamburger-title:after {
    content: " ";
    position: absolute;
    border-top: 2px solid #286efa;
    height: 0;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
}

.hamburger-title:before  {
    top: -8px;
}

.hamburger-title:after  {
    top: 4px;
}


.hamburger .dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    width: 100%;
    
    perspective: 2000px;
    transition: all .3s;
}

.hamburger.active .dropdown {
    pointer-events: all;
    opacity: 1.0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
}

.hamburger.active .dropdown-content {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    width: 100%;
    max-height: 100%;
    margin: 0;
    border-radius: 0;
    padding: 20px;
    left: 0;
}


.hamburger .dropdown-content {
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.17);
    padding: 40px 30px 30px;
    left: -30px;
    max-width: 100%;
    overflow:auto;
    will-change: transform;
    transform-origin: 50% -50px;
    transform: rotateX(-15deg);
    transition: transform .3s;
}

